In [49]:
import json
with open("datasets3.json", "r", encoding="utf-8") as f:
    geography_datasets = json.load(f)

In [6]:
import sqlite3

# 1. 连接数据库
file_path = "geography-db.added-in-2020.sqlite"  
conn = sqlite3.connect(file_path)
cursor = conn.cursor()

# 2. 查看数据库中所有表名
print("\n===== 数据库中的所有表 =====")
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()
print(tables)

===== 数据库中的所有表 =====
[('border_info',), ('city',), ('highlow',), ('lake',), ('mountain',), ('river',), ('state',)]

In [16]:
import pandas as pd
df1 = pd.read_sql('SELECT * FROM city', conn)
df2 = pd.read_sql('SELECT * FROM state', conn)

In [22]:
df1.to_csv('city.csv')
df2.to_csv('state.csv')

In [21]:
df1.state_name.unique()

array(['alabama', 'alaska', 'arizona', 'arkansas', 'california',
       'colorado', 'connecticut', 'delaware', 'district of columbia',
       'florida', 'georgia', 'hawaii', 'idaho', 'illinois', 'indiana',
       'iowa', 'kansas', 'kentucky', 'louisiana', 'maine', 'maryland',
       'massachusetts', 'michigan', 'minnesota', 'mississippi',
       'missouri', 'montana', 'nebraska', 'nevada', 'new hampshire',
       'new jersey', 'new mexico', 'new york', 'north carolina',
       'north dakota', 'ohio', 'oklahoma', 'oregon', 'pennsylvania',
       'rhode island', 'south carolina', 'south dakota', 'tennessee',
       'texas', 'utah', 'virginia', 'washington', 'west virginia',
       'wisconsin', 'wyoming'], dtype=object)

In [45]:
# 假设 state_list 是从 state.csv 文件中读取的所有州名列表
state_list = df1.state_name.unique()

# 原始模板问题和SQL查询
template_question = "what is the biggest city in nebraska"
template_sql = 'SELECT CITYalias0.CITY_NAME FROM CITY AS CITYalias0 WHERE CITYalias0.POPULATION = ( SELECT MAX( CITYalias1.POPULATION ) FROM CITY AS CITYalias1 WHERE CITYalias1.STATE_NAME = "nebraska") AND CITYalias0.STATE_NAME = "nebraska";'
data_set=[]
# 遍历每个州，并生成新的问题和SQL查询
for state_name in state_list:
    new_dict={}
    # 替换问题中的州名
    new_question = template_question.replace("nebraska", state_name)
    
    # 替换SQL查询中的州名
    new_sql = template_sql.replace('"nebraska"', f'"{state_name}"')
    new_dict['question']=new_question
    new_dict['sql'] = new_sql
    data_set.append(new_dict)

In [46]:
# 原始模板问题和SQL查询
template_question = "what is the largest city in nebraska"
template_sql = 'SELECT CITYalias0.CITY_NAME FROM CITY AS CITYalias0 WHERE CITYalias0.POPULATION = ( SELECT MAX( CITYalias1.POPULATION ) FROM CITY AS CITYalias1 WHERE CITYalias1.STATE_NAME = "nebraska") AND CITYalias0.STATE_NAME = "nebraska";'
# 遍历每个州，并生成新的问题和SQL查询
for state_name in state_list:
    new_dict={}
    # 替换问题中的州名
    new_question = template_question.replace("nebraska", state_name)
    
    # 替换SQL查询中的州名
    new_sql = template_sql.replace('"nebraska"', f'"{state_name}"')
    new_dict['question']=new_question
    new_dict['sql'] = new_sql
    data_set.append(new_dict)

In [47]:
# 原始模板问题和SQL查询
template_question = "what is the largest city of nebraska"
template_sql = 'SELECT CITYalias0.CITY_NAME FROM CITY AS CITYalias0 WHERE CITYalias0.POPULATION = ( SELECT MAX( CITYalias1.POPULATION ) FROM CITY AS CITYalias1 WHERE CITYalias1.STATE_NAME = "nebraska") AND CITYalias0.STATE_NAME = "nebraska";'
# 遍历每个州，并生成新的问题和SQL查询
for state_name in state_list:
    new_dict={}
    # 替换问题中的州名
    new_question = template_question.replace("nebraska", state_name)
    
    # 替换SQL查询中的州名
    new_sql = template_sql.replace('"nebraska"', f'"{state_name}"')
    new_dict['question']=new_question
    new_dict['sql'] = new_sql
    data_set.append(new_dict)

In [48]:
# 原始模板问题和SQL查询
template_question = "what is the biggest city of nebraska"
template_sql = 'SELECT CITYalias0.CITY_NAME FROM CITY AS CITYalias0 WHERE CITYalias0.POPULATION = ( SELECT MAX( CITYalias1.POPULATION ) FROM CITY AS CITYalias1 WHERE CITYalias1.STATE_NAME = "nebraska") AND CITYalias0.STATE_NAME = "nebraska";'
# 遍历每个州，并生成新的问题和SQL查询
for state_name in state_list:
    new_dict={}
    # 替换问题中的州名
    new_question = template_question.replace("nebraska", state_name)
    
    # 替换SQL查询中的州名
    new_sql = template_sql.replace('"nebraska"', f'"{state_name}"')
    new_dict['question']=new_question
    new_dict['sql'] = new_sql
    data_set.append(new_dict)

In [50]:
for i in geography_datasets:
    geography_datasets[i] = [{"question":item["question"], "sql":item["sql"]} for item in geography_datasets["train"]]

geography_datasets["train"].extend(data_set)

for i in geography_datasets:
    geography_datasets[i] = [{"prompt":item["question"], "completion":item["sql"]} for item in geography_datasets["train"]]

In [53]:
# 方法1：用 json 模块直接写入（推荐）
with open("newdatasets.json", "w", encoding="utf-8") as f:
    json.dump(geography_datasets, f)

In [7]:
# 2. 定义要查看的表名
target_tables = ["city", "state"]



# 5. 关闭连接
conn.close()

==================================================
===== 表名：city =====

【字段结构】

TypeError: tuple indices must be integers or slices, not str